    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto;
    /* color: white; */
    caret-color: transparent;
}


.theme{
    all: unset;
    width: 100px;
    box-sizing: border-box;
    cursor: pointer;
      
}



body {
  background-color: #f6f8ff;
  color: #2b3442;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #141d2f;
  color: #ffffff;
}

.theme{
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.wrapper{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(20,29,47); */
}

.content-box{
    width: calc(100% - 40%);
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    height: 100%;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.search-container{
    position: relative;

}

a{
    color: #ffffff;
}
.search-container>input{
    all: unset;
    width: 100%;
    height: 70px;
    background-color: rgb(30,42,71);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    /* padding-right: 60px;  */
    border-radius: 2rem;
    box-sizing: border-box;
    caret-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-container>input::placeholder{
    color: whitesmoke;

}
.search{
    /* all: unset; */
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    background-color: rgb(59, 130, 246);
    height: 50%;
    padding: 12px 10px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}
.search:hover{
    background-color: rgb(131, 164, 217);
}

.user-profile{
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: rgb(30,42,71);
    border-radius: 2rem;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #ffffff;
    height: 60%;

}
.user-profile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}

.profile-name{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}

.user-data{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20,29,47);
    height: 70px;
    align-items: center;
    border-radius: 2rem;
    /* font-size: larger; */
}

.user-social-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    place-items: center;
    gap: 30%;
}

.user-profile>img{
    
    align-self:center;
    justify-self: center;
}

.name-id>p{
    font-size: 2rem;
    font-weight: 600;
}
.data-values{
    font-size: 1.5rem;
    font-weight: 600;
}

[data-userpic]{
    border-radius: 100%;
}


@media (max-width: 800px) {
    .user-profile{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .data-values{
    font-size: 1rem;
    font-weight: 300;    
}

.name-id>p{
    font-size: 1rem;
    font-weight: 600;
}

.profile-name{
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 970px) {
.name-id>p{
    font-size: 1.5rem;
    font-weight: 700;
}
}

[data-github-link]{
    align-self: flex-start;
    justify-self: start;
}